* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
}
a {
    padding: 1.2rem 2.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    position: relative;
    transition: all .4s ease-in-out;
}
a:hover span {
    transform: scaleY(1);
}
span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: lightsalmon;
    left: 0;
    top: 0;
    z-index: -1;
    transform: scaleY(0);
    transition: all .3s ease-in-out;
    transform-origin: top;
}
span:nth-child(2){
    left: 25%;
    transition-delay: .1s;
}
span:nth-child(3){
    left: 50%;
    transition-delay: .2s;
}
span:last-child{
    left: 75%;
    transition-delay: .3s;
}