* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #222;
}
.loading {
    width: 4rem;
    display: flex;
}
.loading span {
    width: .5rem;
    height: 3rem;
    margin: 0px 2px;
    background-color: white;
    animation: anim .9s ease-in-out infinite;
}
.loading span:nth-child(1){
    background-color: royalblue;
    animation-delay: .1s;
}
.loading span:nth-child(2){
    background-color: greenyellow;
    animation-delay: .2s;
}
.loading span:nth-child(3){
    background-color: purple;
    animation-delay: .3s;
}
.loading span:nth-child(4){
    background-color: gold;
    animation-delay: .4s;
}
.loading span:nth-child(5){
    background-color: slateblue;
    animation-delay: .5s;
}
.loading span:nth-child(6){
    background-color: rebeccapurple;
    animation-delay: .6s;
}

@keyframes anim {
    0%{
        transform: scaleY(0.1);
    }
    35% {
        transform: scaleY(1);
    }
    70%, 100% {
        transform: scaleY(0.1);
    }
}