* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #222;
}
a {
    text-decoration: none;
    color: royalblue;
    font-size: 1.8rem;
    border: 3px solid royalblue;
    padding: 2rem 4rem;
}
a:hover {
    border: 3px solid rebeccapurple;
    color: rebeccapurple;
    animation: shake 0.3s linear 1;
}
@keyframes shake {
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}