* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
}
.card{
    width: 35rem;
    height: 18rem;
    background-color: #c7ecee;
    padding: 1.2rem 4rem 1.2rem 1.2rem;
    border-radius: .5rem;
    transition: all .5s;
    clip-path: circle(7% at 93% 20%);
    cursor: pointer;
}
h1 {
    margin-bottom: 1.2rem;
}
p {
    font-size: 1.1rem;
}
.card:hover {
    clip-path: circle(70%);
}